body{
    background-color: hsl(30, 38%, 92%);
    
}

main{
    border-radius: 16px;
    background-color:rgb(255, 255, 255);
    align-self: center;
    align-items: center;
    text-align: left;
    padding: 0;
    font-size: 14px;
    font-family: "montserrat", "fraunces";
    display: flex;
width: 800px;
  margin: 50px auto;
  overflow: hidden;
}
.score {
    text-decoration: line-through;
    text-decoration-style: double ;
}
 
.right {
    justify-self: left;
    padding: 20px;
    text-align: left;
    align-self: left;
}

 #desktop {
    display: block;
}

#mobile {
    display: none;
}

@media (orientation: portrait) and (max-width:480px) {
       main {
       display: grid;
        width: fit-content;
        max-width: 300px;
        height: auto;
        align-items: center;
        align-self: center;
        justify-self: center;
        overflow: visible;
        margin: 20px auto;
        padding: 0;
        margin-top: 40px;

       }
       #amount {
        font-size: 35px;
        font-weight: bold;
        justify-self: center;

       }
       .number{
        font-size: 12px;
         justify-content: space-between;
         display: flex;
         width: -30px;
         justify-content: center;
         justify-self: center;
       }
  
    #desktop{
        display: none;
        
    }
    #mobile {
        display: block;
        width: 300px;
        align-self: center;
        border-radius: 16px 16px 0 0;
        margin-top: -23px;
        justify-self: center;
    }
    
    .right {
        text-align: center;
        padding: 10px;
    }
    h3 {
        width: 250px;
        margin: 0 auto;
        display: flex;
        align-self: center;
        text-align: center;
        justify-content: center;

    }
    h3:hover {
        cursor: pointer;
      background-color: hsl(225, 18%, 13%);
    }

    
}
 /* this is where the mobile view will stop*/

@media( max-width:1124px) and (orientation: landscape){
    #desktop{
        display: block;
        max-width: 50%;
        width: 400px;
        justify-content: left;
        justify-self: left;
        align-self: center;
        margin-top: -50px;
        margin-bottom: -50px;
        margin-left: -50px;
        height: 50%;
    }
    main {
        padding: 0 auto;
        max-width: 750px;
        width: auto;
        height: auto;
        justify-content: left;
        align-self: center;
        justify-items: center;
        text-align: left;
        margin-top: 50px;
    }
    #mobile{
        display: none;
    }
    h3 {
        width: 20rem;
        margin: 0 auto;
        display: flex;
        align-self: center;
        text-align: center;
        justify-content: center;

    }
    h3:hover {
        cursor: pointer;
      background-color: hsl(225, 18%, 13%);
    }

   
}
 /* this is where the desktop view will stop*/
  
.heading {
    justify-self: left;
    padding: 20px ;
    font-family: "montserrat" ;
    font-weight: 500;
    font-size: 24px;
    color:hsl(228, 12%, 48%) ;
}
h1 {
    font-family:"fraunces" ;
    font-weight:  50px;
    font-size: 30px;
    text-align: left;
    align-self: left;
    justify-self: left;
    margin-left: 10px;

}
#desktop {
    max-width: 400px;
    border-radius: 16px;
    justify-self: left;
    justify-content: space-between;
    gap: 20px;

}
.right{
 justify-content: center;
 justify-self: center;
 align-content: center;
 align-self: center;
 text-align: center;

}

.text {
        color:hsl(228, 12%, 48%) ;
        margin-left: 20px;
        justify-self: left;
        text-align: left;
        justify-content: left;
        align-self: left;

}
.number {
    display: flex;
    justify-content: center;
    width: auto;
    justify-self: left;
}

#amount {
    font-size: 45px;
    justify-self: left;
    align-self: auto;
    text-align: left;
    color: hsl(158, 36%, 37%);
    padding: 10px;
}

.score {
    color: hsl(228, 12%, 48%);
    justify-self: right;
}

h3 {
    justify-self: center;
    align-self: center;
    background-color: hsl(158, 42%, 18%);
    color: white;
    border-radius: 16px;
    padding: 10px;
}
 .number {
    display: flex;
    justify-content: space-between;
    width: auto;
    justify-content: center;

}
#amount {
    font-size: 45px;
    justify-self: left;
    align-self: auto;
    text-align: left;
}