body{
    background-color: hsl(30, 38%, 92%);
    
}

main{
    border-radius: 16px;
    background-color:rgb(255, 255, 255);
    align-self: center;
    align-items: center;
    padding: 20px;
    font-size: 14px;
    font-family: "montserrat", "fraunces";
    display: flex;
width: 800px;
  margin: 50px auto;
  overflow: hidden;
}

.right {
    justify-self: right;
}

 #desktop {
    display: block;
}

#mobile {
    display: none;
}

@media (orientation: portrait) and (max-width:480px) {
       main {
       display: grid;
        width: fit-content;
        max-width: 300px;
        height: auto;
        align-items: center;
        align-self: center;
        justify-self: center;
        overflow: visible;
        margin: 20px auto;
        padding: 0;
        margin-top: 40px;

       }
  
    #desktop{
        display: none;
        
    }
    #mobile {
        display: block;
        width: 300px;
        align-self: center;
        border-radius: 16px 16px 0 0;
        margin-top: -23px;
        justify-self: center;

    
    
    }
    .right {
        text-align: center;
        padding: 10px;
    }

}
@media( min-width:1024px) and (orientation: landscape){
    #desktop{
        display: block;
        max-width: 50%;
        width: auto;
        justify-content: center;
        align-self: center;
        margin-top: -50px;
        margin-bottom: -50px;
        margin-left: -50px;
        height: 50%;
    }
    main {
        max-width: 900px;
        width: auto;
        height: auto;
        justify-content: center;
        align-self: center;
        justify-items: center;
        text-align: center;
        margin-top: 100px;
    }
    #mobile{
        display: none;
    }
}


.heading {
    justify-self: left;
    padding: 20px ;
    font-family: "montserrat";
    font-weight: 500;
    font-size: 24px;
    color:hsl(228, 12%, 48%) ;
}
h1 {
    font-family:"fraunces" ;
    font-weight:  50px;
    font-size: 30px;
    text-align: center;
    align-self: center;
    justify-self: center;
    margin-left: 10px;

}
#desktop {
    max-width: 400px;
    border-radius: 16px;
    justify-self: left;
    justify-content: space-between;
    gap: 20px;

}
.right{
 justify-content: center;
 justify-self: center;
 align-content: center;
 align-self: center;
 text-align: center;

}

.text {
        color:hsl(228, 12%, 48%) ;
        margin-left: 20px;

}
.number {
    display: flex;
    justify-content: space-between;
    width: auto;
   

}
#amount {
    font-size: bold;
    justify-self: left;
    align-self: auto;
    text-align: left;
   color: hsl(158, 36%, 37%);
   padding: 10px;
}
.score {
        color: hsl(228, 12%, 48%) ;
        justify-self: right;
    
}

h3 {
    justify-self: center;
    align-self: center;
    background-color: hsl(158, 42%, 18%);
    color: white;
    border-radius: 16px;
    padding: 10px;
}
